@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: white;
    height:70px;
    display:flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(189, 188, 188);
}


.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background:none;
}

.nav-menu{
    background-color:white;
    width:250px;
    height:100vh;
    display: flex;
    justify-content:center;
    position:fixed;
    top:0;
    left:-100%;
    transition:850ms;
}

.nav-menu.active{
    left:0;
    transition:350ms;
}

.nav-text{
    display:flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height:60px;
}

.nav-text a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    /* width:95%; */
    display:flex;
    align-items: center;
    /* padding:0 16px; */
    border-radius:4px;
}

.nav-text a:hover{
    /* background-color: black;
    color:white; */
    /* border: 1px solid black; */
}

.nav-menu-items{
    width:100%;
}

.navbar-toggle{
    background-color:white;
    width:100%;
    height:80px;
    display:flex;
    justify-content:start;
    align-items:center;
}

span{
    margin-left: 16px;
    font-size:15px;
}

.main-navbar{
    display:flex;
}


.menu-logo{
    position:absolute;
    right:10px;
    float: right;
    display:none;
}

.menu-logo *{
    color:black;
}

.full-nav{
    margin:0;
    padding:0px;
    color:black;
    list-style: none;
    display:flex;
    position:relative; 
    left:5vw;
}

.full-nav .nav-text{
    padding-top:0;
    margin-top: 0;
    padding-bottom:0;
    margin-bottom: 0;
    padding: 8px 16px 8px 16px;
}

.navbar-toggle *{
    color:black;
}

.icon-items{
    margin-right: 20vw;
}

@media only screen and (max-width: 1000px){
    .menu-logo{
        display:block;
    }
    .full-nav{
        display: none;
    }
  }